<div class="page_header_container" ng-cloak>
    <div class="page_header">
        <div class="left page_action_container">
           
        </div>
        <div class="page_title">
            <h1><i class="fa fa-building-o"></i> Buildings</h1>
        </div>
        <div class="right page_action_container page_action_btn">
            
        </div>
    </div>
</div>
<div class="section_nav_container">
    <div class="section_nav">
        <a ng-href="#/buildings">Buildings List</a>
        <a ng-href="#/buildings/settings">List Settings</a>
        <a ng-href="#/buildings/reports" >Reports</a>
        <a ng-href="#/buildings/labels" class="active">Labels</a>
    </div>
</div>

<div class="section">   
    
    <div class="section_content_container" >
        <div class="section_content with_padding">
            <div style="margin: 20px 10px; border:1px solid #EEE; padding: 10px 0px; border-radius: 5px; background-color: #F1F1F1;">
                
                <form class="form-inline" role="form">                
                    <div class="form-group">
                        <label class="control-label col-sm-2">Create new label</label>
                        <div class="col-sm-9">
                            <div class="input-group" >
                                <input  type="text" 
                                        class="form-control" 
                                        id="projectName" 
                                        ng-model="new_label.name" 
                                        placeholder="Label Name" required>
                                <div uib-dropdown class="input-group-btn">
                                    <button type="button" 
                                            class="btn btn-{$ new_label.label $} dropdown-toggle"
                                            data-toggle="dropdown">
                                            {$ new_label.color $}&nbsp;&nbsp;<span class="caret"></span></button>
                                    <ul class="uib-dropdown-menu pull-right" role="menu">
                                        <li ng-repeat="label in available_colors" 
                                            ng-click="new_label.label = label.label; new_label.color = label.color">
                                            <a><span class="label label-{$ label.label $}">{$ label.color $}</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="input-group col-sm-1">
                            <button class="btn btn-primary" >Create label</button>
                        </div>                                       
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="section_header_container" style="border:0px;">
        <div class="section_header" >
            <h2 ><i class="fa fa-labels"></i>Existing Labels</h2>
        </div>
    </div>
        <div class="section_content_container" style="margin: 0px 25px; border-radius: 5px;" >
            <div class="section_content">
                <div class="table_list_container">
                    <table class="table table-striped">
                        <tr ng-repeat="label in labels">
                            <td class="label_column">
                                <span class="label label-{$ label.label $}">{$ label.name $}</span>
                                <span style="margin-left:20px;color:#999;"> Applied to 26 buildings</span>
                            </td>
                          
                            <td align="right" width="160">
                                <button type="button" 
                                        style="min-width:70px;"
                                        class="btn btn-sm btn-default action_link" 
                                        ng-click="edit_label(label)">
                                        <i class="fa fa-pencil"></i> edit</button>
                                <button type="button" 
                                        style="min-width:70px;"
                                        class="btn btn-sm btn-default action_link" 
                                        ng-click="delete_label(label)">
                                        <i class="fa fa-trash-o"></i> delete</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
   
</div>
