<div class="page_header_container" ng-cloak>
    <div class="page_header">
        <div class="left page_action_container">
           
        </div>
        <div class="page_title">
            <h1><i class="fa fa-building-o"></i> Buildings</h1>
        </div>
        <div class="right page_action_container page_action_btn">
            
        </div>
    </div>
</div>
<div class="section_nav_container">
    <div class="section_nav">
        <a ng-href="#/buildings">Buildings List</a>
        <a ng-href="#/buildings/settings">List Settings</a>
        <a ng-href="#/buildings/reports" >Reports</a>
        <a ng-href="#/buildings/labels" class="active">Labels</a>
    </div>
</div>

<div class="section">   
    
    <div class="section_content_container" >
        <div class="section_content with_padding">
            <div style="margin: 20px 10px; border:1px solid #EEE; padding: 10px 0px; border-radius: 5px; background-color: #F1F1F1;">
                
                <form class="form-inline" role="form">                
                    <div class="form-group">
                        <label class="control-label col-sm-2">Create new label</label>
                        <div class="col-sm-9">
                            <div class="input-group" >
                                <input  type="text" 
                                        class="form-control" 
                                        id="projectName" 
                                        ng-model="new_label.name" 
                                        placeholder="Label Name" required>
                                <div uib-dropdown class="input-group-btn">
                                    <button type="button" 
                                            class="btn btn-{$ new_label.label $} dropdown-toggle"
                                            data-toggle="dropdown">
                                            {$ new_label.color $}&nbsp;&nbsp;<span class="caret"></span></button>
                                    <ul class="uib-dropdown-menu pull-right" role="menu">
                                        <li ng-repeat="label in available_colors" 
                                            ng-click="new_label.label = label.label; new_label.color = label.color">
                                            <a><span class="label label-{$ label.label $}">{$ label.color $}</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="input-group col-sm-1">
                            <button class="btn btn-primary" >Create label</button>
                        </div>                                       
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="section_header_container" style="border:0px;">
        <div class="section_header" >
            <h2 ><i class="fa fa-labels"></i>Existing Labels</h2>
        </div>
    </div>
        <div class="section_content_container" style="margin: 0px 25px; border-radius: 5px;" >
            <div class="section_content">
                <div class="table_list_container">
                    <table class="table table-striped table-hover table-condensed" >

                        <tr style="font-weight: bold">
                          <td style="width:30%">Name</td>
                          <td style="width:30%">Color</td>
                          <td style="width:30%"># Buildings with Label</td>
                          <td width="width:10%" align="right">Edit</td>
                        </tr>

                        <tr ng-repeat="label in labels" >

                            <td style="border:0px;">
                                <span   editable-text="label.name" 
                                        e-name="name" 
                                        e-form="rowform" 
                                        onbeforesave="checkLabelName($data, label.id)" 
                                        class="label label-{$ label.label $}"
                                        e-required>
                                    {$ label.name || 'empty' $}
                                </span>
                            </td>

                            <td style="border:0px;">
                                <!-- editable status (select-local) -->
                                <span   editable-select="label.color"
                                        e-name="color" 
                                        e-form="rowform" 
                                        class="label label-{$ label.label $}"
                                        e-ng-options="s.color as s.color for s in available_colors">
                                    {$ label.color $}
                                </span>
                            </td>

                            <td style="border:0px;">
                                <span style="color:#999;">26 buildings</span>
                            </td>

                            <td style="white-space: nowrap; border:0px;" align="right">

                                <!-- form -->
                                <form   editable-form name="rowform" 
                                        onbeforesave="saveLabel($data, label.id)" 
                                        ng-show="rowform.$visible" 
                                        class="form-buttons form-inline" 
                                        shown="inserted == label">
                                  <button   type="submit" 
                                            ng-disabled="rowform.$waiting"
                                            class="btn btn-primary">
                                    save
                                  </button>
                                  <button   type="button" 
                                            ng-disabled="rowform.$waiting" 
                                            ng-click="rowform.$cancel()"
                                            class="btn btn-default">
                                    cancel
                                  </button>
                                </form>

                                <div class="buttons" ng-show="!rowform.$visible">
                                  <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                                  <button class="btn btn-danger" ng-click="removeLabel($index)">del</button>
                                </div>  

                            </td>

                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
   
</div>
